.App {
	text-align: center;
}

.header {
	background-color: purple;
	color: white;
	font: 25px copperplate;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search {
	height: 30px;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	margin-top: 20px;
}

.search-button {
	margin-left: 10px;
	background-color: blueviolet;
	border: none;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 25px;
}

.gif-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.gif-item {
	box-shadow: 1px 1px 2px 0 #ccc;
	box-sizing: border-box;
	display: flex;
	padding: 1em;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.giphy-embed {
	position: relative;
	height: 100%;
	width: 100%;
}
.pagination-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination-buttons {
	margin: 10px;
	background-color: #0074d9;
	border: none;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 25px;
}
